body {
	margin: 0;
	font-family: sans-serif;
}
.fixed-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #ccc;
	padding: 10px 20px;
	z-index: 1000;
	box-sizing: border-box;
}
table, th, td {
	border: 1px solid black;
	font-size: 120%;
}
#Mondai,#Kotae{
	font-size: 150%;
}
a.Hidden  {
	text-decoration: none;
	color: black;
}
.Content {
	margin-top: 90px;
	padding: 20px;
}
.subscript {
	font-size: 70%;
}